<!DOCTYPE html>
<html>
<head>
	<%- include('components/head.ejs') %>
</head>
<body>
<div class="wrap-body">

<%- include('components/header.ejs') %>


<!--////////////////////////////////////Container-->
<section class="container">
	<div class="">
		<div class="wrap-container clearfix">
			<div class="main-content">
				<div class="wrap-box" style="background: #fff; box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);"><!--Start Box-->
					<div class="zerogrid">
						<div class="header">
							<h1>宾利天悦 32万公里</h1>
						</div>
						<div class="row">
							<div class="col-2-3">
								<div class="wrap-col">
									<div class="slider">
										<!-- Slideshow -->
										<div class="banner_container">
											<ul class="rslides">
												<li>
													<img src="images/product-slide1.jpg" alt="">
												</li>
												<li>
													<img src="images/product-slide2.jpg" alt="">
												</li>
											</ul>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
							<div class="col-1-3">
								<div class="wrap-col">
									<p class="price">￥53000</p>
									<ul class="specs">
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>车型</strong> <span>添越</span></li>
										<li><strong>排量</strong> <span>4.0T</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
										<li><strong>品牌</strong> <span>宾利</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wrap-box">
					<div class="zerogrid">
						<div class="row">
							<div class="col-2-3">
								<div class="wrap-col">
									<div class="info">
										<h2 class="h3">车型配置</h2>
										<p>车型：xxx</p>
										<p>车型：xxx</p>
										<p>车型：xxx</p>
										<p>车型：xxx</p>
										<p>车型：xxx</p>
									</div>

									<div class="info">
										<h2 class="h3">车辆描述</h2>

										<p>各种好各种好各种好各种好各种好各种好</p>
									</div>
									<div class="info">
										<h2 class="h3">车辆图片</h2>
										<img src="images/product-slide2.jpg"/>
										<img src="images/product-slide2.jpg"/>
										<img src="images/product-slide2.jpg"/>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('components/footer.ejs') %>

</div>
</body></html>
